/* Contact Section */
#contact {
  position: relative;
  padding: 50px 0 40px;
  color: rgb(0, 0, 0);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 90%;
}

/* Add a card-like container behind the form area */
#contact form {
  position: relative;
  background-color: #8cc9caf0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .55), 0 30px 60px -20px rgba(0, 0, 0, 1), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
  z-index: 2; 
}

/* Target placeholder text color */
.form-control::placeholder {
  color: #000000 !important;
  opacity: 1;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f6; /* Add overlay */
  z-index: 1;
}

/* Ensures content is above the overlay */
#contact * {
  position: relative;
  z-index: 2;
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact .section-title p {
  font-size: 20px;
  
}
#contact h5{
  margin-left: -120px;
  font-size: 15px;
}

#contact h2 {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-left: -120px;
}

#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);

  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}

#contact h3 {
  color: #000000;
  /* margin-bottom: 25px; */
  padding-bottom: 10px;
  font-weight: 400;
  text-align: left;
  margin-left: -120px;
}
#contact p{
  margin-left: -120px;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom {
  margin: 30px 0;
  background: #397576;
  border: 2px solid #000000;
  
}

#contact .btn-custom:hover {
  color: #eaeaea;
  background: #000000;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #312e2e;
  background-color: #ffffff77;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  /* height: 40px; */
  margin-bottom: 20px;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}

#contact p1{
  margin-left: -120px;
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  #contact .section-title h2::after {
      justify-self: anchor-center;
  }
  #contact .container{
    text-align: center;
  }
  #contact .form-control{
    width: 100%;
  }

  #contact h3{
    margin-top: 5px;
    margin-left: 0;
    display: none;
  }
  #contact h5{ 
    margin-left: 0;
  }
  #contact h2{
    margin-left: 0;
  }
  #contact p{
    margin-left: 0;
    display: none;
    color: #000000;
  }
  #contact p1{
    margin-left: 0;
    font-size: 22px;
  }
  

  .row{
    display: block;
  }
}


